.sidebarOptions{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 30%;
}

.sidebarOptions > h2 {
    font-weight: 900;
    font-size: 20px;
    /* margin-right: 40px */
}
o
.sidebarOptions:hover{
    background-color: lightblue;
    border-radius: 20px;
    color: white;
    transition: color 300ms ease-out;
}